<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9f5e9c7e33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/profile.css">
    <title>Profile</title>
</head>

<body>
    <div class="main-container">
        <div class="container">

            <div class="back-btn">
                <a href="javascript:history.back()"><i class="fa fa-chevron-left"></i></a>
            </div>

            <div class="row">
                <div class="left-part">
                    <div class="profile-section">
                        <div class="avatar-section">
                            <img src="/avatar.jpg" alt="avatar">
                        </div>
                        <div class="info-section">
                            <h2>{{userName}}</h2>
                            <p title="User Id"><i class="fa fa-fingerprint"></i>{{userId}}</p>
                            <p title="Email Address"><i class="fa fa-envelope"></i>{{userEmail}}</p>
                            <p title="Phone Number"><i class="fa fa-phone"></i>{{userPhone}}</p>
                            <p title="Date of Birth"><i class="fa fa-regular fa-calendar-days"></i></i>{{userDob}}</p>
                            <p title="Address"><i class="fa fa-location-dot"></i>{{userAddress}}</p>
                        </div>
                    </div>
                </div>

                <div class="right-part">
                    <form action="/auth/account/profile/edit-details" method="POST" class="edit-details-form">
                        <h2>Edit Details</h2>

                        <div class="form-data">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-input" id="name" name="name" value="{{userName}}">
                            <span class="animated-symbol">
                                <i class="fa fa-user"></i>
                            </span>
                            <span class="bottom-border"></span>
                        </div>

                        <div class="form-data">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-input" id="email" name="email" value="{{userEmail}}">
                            <span class="animated-symbol">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <span class="bottom-border"></span>
                        </div>

                        <div class="form-data mno">
                            <label for="mobileNo" class="form-label">Phone Number</label>
                            <input type="tel" class="form-input" id="mobileNo" name="mobile_no" value="{{userPhone}}">
                            <span class="animated-symbol">
                                <i class="fa fa-phone"></i>
                            </span>
                            <span class="bottom-border"></span>
                        </div>

                        <div class="form-data dob">
                            <label for="dateOfBirth" class="form-label">Date of Birth</label>
                            <input type="date" class="form-input" id="dateOfBirth" name="date_of_birth"
                                value="{{userDob}}">
                            <span class="animated-symbol">
                                <i class="fa fa-calendar-days"></i>
                            </span>
                            <span class="bottom-border"></span>
                        </div>

                        <div class="form-data loc">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-input" id="address" name="address" value="{{userAddress}}">
                            <span class="animated-symbol">
                                <i class="fa fa-location-dot"></i>
                            </span>
                            <span class="bottom-border"></span>
                        </div>

                        <button type="submit" class="submit-btn">Update Details</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>